.root {
    height: 100%;
    width: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}

.Broadcast-Page {
    display: flex;
    flex-direction: row;
}

