.root {
    height: 100;
}

.App {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: center;
    height: 5vh;
    border-bottom: 1px solid white;
}

.nav-bar-container {
    display: flex;
    
}

.nav-bar-login {
    padding: 0px 10px;
    background-color: white;
    color: black;
    border-radius: 2px;
}

.nav-bar-login:hover {
   cursor: pointer
}
.nav-bar-divider {
    padding: 10px;
}

.body-divider {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.stream-list {
    border-right: 1px solid white;
    height: 94vh;
 
}