.chat-container {
    border-left: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Chat-Messages-Container {
    padding-left: 10px;
    overflow: auto;
}
.chat-send-button{
    background-color: red;
    color: white;

    font-size: 12px;
}

.chat-send-button:hover {
    cursor: pointer;
    background-color: white;
    color: red;
}

.individual-messages {
    color: green
}