.Chat-header {
    background-color: red;
}

.Chat-Send {
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

.Chat-Send:hover {
    cursor: pointer;
    background-color: white;
    color: red;
}